body 
{
    background-color: #222;
    color: white;
}


.welcome
{
    margin-top: 3%;
    font-family: monospace;
    color: #FFF;
    text-align: center;
    font-size: 36pt;
}


.explanation
{
    font-family: monospace;
    color: #AAA;
    text-align: center;
    font-size: 12pt;
}


.grid-container
{
    width: 90%;
    height: 60%;
    margin: 4%;
    display: grid;
    column-gap: 10%;
    row-gap: 10%;
    grid-template-columns: auto auto;
    /* background-color: #267; */
    padding: 10px;
}


.link-container
{
    background: rgba(110, 0, 0, 0.592);
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    font-family: monospace;
    color: #AAA;    
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}

.title
{
    float: right;
    width:20%;
    font-family: monospace;
}


.image
{
    background: rgba(101, 110, 0, 0.592);
    width: 80%;     
}