body 
{
    background-image: linear-gradient(to right top, #ff0076, #590fb7);
    display: flex;
    flex-direction: column;

    align-items: center;

    width: 100%;
    height: 100%;
}


.welcome
{
    margin-top: 4%;
    margin-bottom: 1%;
    font-family: monospace;
    color: #FFF;
    text-align: center;
    font-size: 4vw;
}


.explanation
{
    
    font-family: monospace;
    color: #ccc;
    text-align: center;
    font-size: 1.6vw;

    margin-bottom: 4%;
}


.link
{
    font-family: monospace;
    font-size: 2vw;
    text-align: center;
    color:#FFF;
    margin-bottom: 4%;
}