body {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background: rgb(18, 18, 18);
}

.reload-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
