body {
    font-family: Monospace;
    text-align: center;
    background-color: #202020;
    color: white;
}


#inputcontainer {
    width: 60%;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0);
    transform: translate(-50%, -50%);
}


button {
    padding: 1.2%;
    border-radius: 15px;
    border: 2px solid;
    color: white;
    background-color: #00000060;
    font-family: Monospace;
    font-size: 20pt;
}


.slider {
    margin-top: 5%;
    width: 60%;
    accent-color: #505050;
}


label {
    font-size: 12pt;
}


canvas {
    visibility: hidden;
}


.reload {
    position: absolute;
    top: 88%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 5vw;
    visibility: hidden;
}