body{
background-color:white;
  padding: 25px;
}

:root{
    --radius: 20px;
}

.navwrapper{
margin-left:50%;
 list-style-type:none;
 display:flex;
}

.one {
  border-radius: var(--radius);
  background: #0cc;
  text-align: center;
  width: 400px;
  height: 100px;
}

.two {
  border-radius: var(--radius);
  background: #0cc;
  text-align: center;
  width: 300px;
  height: 200px;
}

.three {
  border-radius: var(--radius);
  background: #0cc;
  text-align: center;
  width: 100px;
  height: 100px;
}

.four {
  border-radius: var(--radius);
  background: #0cc;
  text-align: center;
  width: 100px;
  height: 100px;
}

.five {
  border-radius: var(--radius);
  background: #0cc;
  text-align: center;
  width: 100px;
  height: 100px;
}

.six {
  border-radius: var(--radius);
  background: #0cc;
  text-align: center;
  width: 200px;
  height: 100px;
}
